.titlePageC {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 10px;
  font-size: 40px;
  margin-top: 40px;
}
.button {
  transition-duration: 0.4s;
  padding: 14px 40px;
  font-size: 20px;
}

.button:hover {
  background-color: turquoise;
  color: white;
}
.mesaj {
  font-size: 20px;
}
