@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

* {
  font-family: "Akaya Telivigala", cursive;
}
.App {
  text-align: center;
  clear: both;
  overflow: auto;
}
/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: bisque;
  padding: 5px 5px;
}

.item {
  float: right;
  display: inline-block;
  font-size: 20px;
  color: black;
  text-align: center;
  padding: 70px 40px;
  text-decoration: none;
}

.logo {
  float: left;
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
  text-indent: -9999px;
}
.mesaj {
  margin-top: 5mm;
  width: 500px;
}
.contactW {
  font-size: 12px;
  letter-spacing: 5px;
}
.flex-container {
  display: flex;
  margin-left: 50em;
}
